<div class="container-fluid">
    <div id="home" class="row align-items-center hero scroll-section">
        <div class="col-lg-3 offset-lg-2">
            <div class="titulo-principal">
                <p>Cocktail maker</p>
                <h1>Malibu</h1>
                <p>Caribbean Rum with Coconut Liqueur</p>
            </div>
        </div>
    </div>

    <div class="row news my-3">
        <div id="products" class="col-lg-4 col-md-12 offset-lg-2 py-3 scroll-section">
            <h2>Drinks</h2>
            <ul class="lista-novedades">
                <li><a href="#"><img src="img/malibu-cocktail q.jpg"> Malibu Cocktail</a></li>
                <li><a href="#"><img src="img/malibu splash.jpg"> Malibu Splash</a></li>
                <li><a href="#"><img src="img/ready to serve.jpg"> Ready to Serve</a></li>
                <li><a href="#"><img src="img/news 1.jpg"> Malibu Beer</a></li>
                <li><a href="#"><img src="img/classic malibu.jpg"> Classic Malibu</a></li>
            </ul>
        </div> <!-- cierra novedades -->
        <div class="col-lg-5 col-md-12 my-3">
            <div class="rounded py-5 testimonios">
                <h2 class="text-center">Reviews</h2>
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonio">
                                <h5>"I really enjoyed Malibu Original Caribbean Rum! The sweet coconut flavor is
                                    smooth and not overpowering, making it perfect for mixing into tropical
                                    cocktails."</h5>
                                <p>Jason Smith</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>"Malibu Rum is a great addition to any party! The coconut flavor is refreshing
                                    and pairs well with a variety of mixers. I highly recommend it for summer
                                    gatherings."</h5>
                                <p>Emily Johnson</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>"I love Malibu Rum! It's perfect for making tropical cocktails and has a great
                                    coconut flavor. I always keep a bottle on hand for summer parties."</h5>
                                <p>Michael Brown</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="history" class="row align-items-center historia py-4 scroll-section">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="img/history 1.png" alt="historia 1" class="img-fluid">
        </div>
        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="img/history 2.webp" alt="historia 2" class="img-fluid">
        </div>
        <div class="col-12 d-sm-none">
            <img src="img/history 3.avif" alt="historia 3" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h2>History</h2>
            <p>Malibu Rum is a brand of rum that originated in the Caribbean, specifically in Barbados. It was
                created in 1980 by Tom Jago, who wanted to create a rum that was light and easy to drink. The
                original recipe included Caribbean rum blended with coconut liqueur, giving it a unique tropical
                flavor.</p>
            <a href="https://www.malibudrinks.com/en/about-us" class="btn btn-light">Learn More
            </a>
        </div>
    </div> <!-- cierra historia -->

    <div id="ourteam" class="row align-items-stretch my-3 staff py-4 scroll-section">
        <div class="col-lg-8 offset-lg-2">
            <h2>Our Team</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="img/Robin-Abrahamsso-bar.jpg" class="card-img-top" alt="Robin Abrahamsson">
                        <div class="card-body">
                            <h5 class="card-title">Robin Abrahamsson</h5>
                            <p class="card-text">Robin Abrahamsson is one of Sweden's top bar managers and creative
                                bartenders with over 15 years in the cocktail world. His dedication for creating
                                top-quality drinks lists is a testament to his passion for sharing new recipes and
                                tastes with his customers and readers alike.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="img/Stefan-Gregory.jpg" class="card-img-top" alt="Stefan Gregory">
                        <div class="card-body">
                            <h5 class="card-title">Stefan Gregory</h5>
                            <p class="card-text">Stefan is a seasoned copywriter and cocktail enthusiast with a
                                passion for writing, researching and sharing drink recipes and tips that democratize
                                and simplify home-cocktail making. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- cierra nosotros -->

    <div id="contact" class="row py-4 scroll-section">
        <div class="col-lg-4 col-md-12 offset-lg-2">
            <h2>Where we produce</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188785.9765443864!2d-83.31318855285645!3d42.32587207398322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883b2cb8f2fa367d%3A0x3f46e20e46217d21!2sHiram%20Walker%20%26%20Sons%20Limited!5e0!3m2!1ses!2sar!4v1748734888583!5m2!1ses!2sar"
                    width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 mt-4 mt-sm-0">
            <h2>Contact Us</h2>
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Name</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="youremail@email.com">
                </div>
                <div class="col-12">
                    <label for="tel" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="tel" name="tel" placeholder="+54 9 11 1234-5678">
                </div>
                <div class="col-12">
                    <label for="mensaje" class="form-label">Message</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-dark mt-3">Send</button>
                </div>
            </form>
            {{message}}
        </div>
    </div>
</div>